:root {
  --main-color: #252b42;
  --text-color: #737373;
  --accent-color: #fff;
  --add-color: #fa4a0c;
  --add-accent-color: #000;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  font-family: inherit;
  font-weight: 700;
}

.header {
  padding-top: 49.52px;
  padding-bottom: 41.27px;
}

.header-position {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: auto;
}

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-item + .navigation-item {
  margin-left: 114px;
}

.navigation-link {
  color: var(--main-color);
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.navigation-link:hover {
  color: var(--add-color);
}

.hero {
  background-color: rgb(57, 162, 57);
  padding-top: 80px;
  padding-bottom: 162px;
}

.hero-subtitle {
  color: #f6f6f6;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}

.hero-title {
  color: var(--accent-color);
  text-align: center;
  font-family: Poppins;
  font-size: 58px;
  line-height: 1.37931;
  letter-spacing: 0.2px;
  margin-bottom: 14.9px;
}

.hero-text {
  color: #f6f6f6;
  text-align: center;
  font-size: 24px;
  line-height: 1.583;
  letter-spacing: 0.2px;
  margin-bottom: 54px;
}

.hero-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-delivery-btn {
  border-radius: 30px;
  background-color: var(--add-color);
  color: var(--accent-color);
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  padding: 16px 0px;
  width: 236px;
  border: none;
  margin-right: 67px;
}

.hero-menu-btn {
  border-radius: 30px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  background-color: transparent;
  width: 236px;
  padding: 16px 0px;
  border: 1px solid var(--accent-color);
}

.how-work {
  padding-top: 56px;
  padding-bottom: 148px;
}

.how-work-title {
  color: var(--add-accent-color);
  font-family: Poppins;
  font-size: 44px;
  font-weight: 600;
  line-height: 0.81;
  letter-spacing: 0.1px;
  margin-bottom: 70px;
  text-align: center;
}

.how-work-app-img {
  float: left;
  margin-right: 287px;
  margin-bottom: 213px;
}

.how-work-item-info {
  color: var(--add-color);
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  font-weight: 700;
  margin-top: 113px;
  margin-bottom: 17px;
}

.how-work-item-title {
  color: var(--main-color);
  margin-bottom: 27px;
  font-size: 40px;
  line-height: 1.425;
  letter-spacing: 0.2px;
}

.how-work-text {
  color: var(--text-color);
  font-size: 24px;
  line-height: 1.583;
  letter-spacing: 0.2px;
  margin-bottom: 232px;
}

.how-work-phone-img {
  float: right;
  margin-left: 338px;
}

.how-work-shop-text {
  margin-bottom: 157px;
  color: var(--text-color);
  font-size: 24px;
  line-height: 1.583;
  letter-spacing: 0.2px;
}

.order {
  background-color: rgb(73, 202, 73);
  padding-top: 141px;
  padding-bottom: 130px;
}

.order-title {
  color: var(--accent-color);
  text-align: center;
  font-size: 40px;
  line-height: 1.425;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.order-text {
  color: var(--accent-color);
  text-align: center;
  font-size: 24px;
  line-height: 1.583;
  letter-spacing: 0.2px;
  margin-bottom: 49px;
}

.order-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-btn-playstore {
  color: var(--accent-color);
  border-radius: 10px;
  background-color: var(--add-color);
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.2px;
  padding: 18px 31px;
  border: none;
  margin-right: 16px;
}

.order-btn-appstore {
  color: var(--accent-color);
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  background-color: transparent;
  padding: 16px 45px;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
}

.footer {
  padding-top: 78px;
  padding-bottom: 58.77px;
}

.footer-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  color: #5c5c5c;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: right;
  
}
